.hoverLink:hover{
    border: 1px solid white;
    border-radius: 2px;
    box-sizing:border-box;
}
.hoverLink{
    border: 1px solid transparent;
    /* padding-left: 4px;
    padding-right: 4px; */
    padding: 4px;
    cursor: pointer;
}

.headerTwo__deliverTo > .hoverLink{
    padding: 0px !important;
}

.headerTwo .hoverLink{
    padding: 4px 8px;
}