.carousel__image {
  width: 100%;
  z-index: -1;
  /* margin-bottom: -150px; */
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}

.slick-slide:focus {
  outline: none !important;
  border: none;
}

.slides .slick-prev,
.slides .slick-next {
  position: absolute;
  top: 27%;
  z-index: 1;
}

.slides .slick-prev {
  left: 5%;
}

.slides .slick-next {
  right: 5%;
}
.slick-prev:before {
  content: "‹" !important;
}
.slick-next:before {
  content: "›" !important;
}
.slick-prev:before,
.slick-next:before {
  font-size: 50px !important;
}
