.cart__ad {
    width: 95%;
    margin-bottom: 10px;
    object-fit: cover;
}

.cart {
    display: flex;
    padding: 20px;
    background: #fff;
    height: max-content;
}

.cart__title {
    border-bottom: 1px solid lightgray;
    padding: 10px;
    margin-right: 10px;
}