.footer__backToTop > span{
    font-size: 13px !important;
    color: white;
}
.footer__backToTop{
    width:100%;
    text-align:center;
    display: flex;
  align-items: center;
  justify-content: center;
    height:50px;
    margin-top:-10px;
    background:#37475A;
}
.footer__backToTop:hover{
    background: #485769;
    cursor:pointer;
}
.footer__main{
    background: #232F3E;
    display:flex;
    align-items: center;
    justify-content: center;
}
.footer__row{
    display: flex;
    padding-left: 10px;
    padding-right: 10px;
    justify-content: space-between !important;
    min-height:400px;
    color:white;
    width: 90%;
}
.footer__row h4{
    font-weight:700;
    margin-bottom: 14px;
    margin-top: 14px;
}
.footer__row div{
    margin-top: 30px;
}
.footer__row p{
    font-size: 13px;
    margin-bottom: 10px;
    color: #DDD;
}
.footer__row p:hover{
    text-decoration: underline;
    cursor: pointer;
}
/* .footer__row div{
    flex: .25;
} */

