.headerTwo{
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    font-size: 13px;
    height: 42px;
    background: #232f3e;
    color: white;
    padding: 0 10px;
    
}

.headerTwo__optionLineTwo{
    font-size: 13px;
  font-weight: 800;
}

.headerTwo__midLinksContainer{
    display:flex;
    flex: 0.8;
}

.headerTwo__midLinksContainer > span {
    /* margin-right: 8px; */
}

.headerTwo__deliverTo{
    display:flex;
    flex: .2;
}
.headerTwo__deliverToIcon{
    margin-top: 8px;
}