.login {
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    background: white;
}

.login__image {
    width: 100px;
    margin-right: auto;
    margin-left: auto;
    object-fit: contain;
    margin-top: 20px;
    margin-bottom: 20px;
}

.login__container {
    width: 300px;
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    height: fit-content;
}

.login__container>h1 {
    font-weight: 500;
    margin-bottom: 20px;
}

.login__container>form>h5 {
    margin-bottom: 5px;
}

.login__container>form>input {
    height: 30px;
    margin-bottom: 10px;
    width: 98%;
    background-color: white;
}

.login__container>p {
    font-size: 12px;
    margin-top: 15px;
}

.login__signInButton {
    background: #f0c14b;
    width: 100%;
    height: 30px;
    border-radius: 2px;
    border: 1px solid;
    border-color: #a88743 #9c7e31 #846a29;
    margin-top: 10px;
}

.login__registerButton {
    border-radius: 2px;
    width: 100%;
    height: 30px;
    border: 1px solid;
    border-color: darkgray;
    margin-top: 10px;
}