.order {
    padding: 40px;
    margin: 20px 0;
    border: 1px solid lightgray;
    background: white;
    position: relative;
}

.order__id{
    position: absolute;
    right: 20px;
    top: 40px;
}

.order__total {
    font-weight: 500;
    text-align: right;
}