.subtotal {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 300px;
  height: 100px;
  padding: 20px;
  background-color: #f3f3f3;
  border: 1px solid #ddd;
  border-radius: 3px;
}
.subtotal__gift {
  display: flex;
  align-items: center;
}
.subtotal__gift > input {
  margin-right: 5px;
  margin-left: 5px;
}

.subtotal > button {
  background: #f0c14b;
  border-color: #a88743 #9c7e31 #846a29 !important;
  border: 1px solid;
  border-radius: 7px;
  width: 100%;
  height: 30px;
  color: #111;
  margin-top: 10px;
}
